extends layout

block content
  table
    thead
      tr
        th Name
        th Age
        th Course
        th Actions
    tbody
      each student in students
        tr
          td= student.name
          td= student.age
          td= student.course
          td
            a(href=`/edit/${student._id}`) Edit |
            a(href=`/delete/${student._id}` onclick="return confirm('Are you sure?')") Delete